/* ============ common =========== */
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
    --primary-color: #2e80ce;
    --secondary-color: #10375c;
    --width: calc(100vw - 270px);
}

.content {
    max-width: calc(100vw - 40px);
    width: var(--width);
    margin: auto;
}

.btn {
    background: var(--primary-color);
    color: #fff;
    min-width: 205px;
    padding: 15px 26px;
    border-radius: 30px;
    display: inline-block;
}

a {
    text-decoration: none;
}

.section-heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
}

.section-desc {
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.7;
    margin-top: 18px;
}

/* ============ header =========== */

header {
    background-color: var(--secondary-color);
    padding: 30px 0 20px;
    position: sticky;
    top: -10px;
    z-index: 2;
}

.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-main__nav {
    display: flex;
    align-items: center;
}

.header-main__link {
    padding: 20px 20px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 300;
    display: inline-block;
    position: relative;
    text-align: center;
}

.header-main__link:hover {
    color: #fff;
    font-weight: 400;
}

.header-main__link::before {
    content: attr(header-main__list--bold);
    display: block;
    font-weight: 400;
    height: 0px;
    width: 77px;
    overflow: hidden;
}

.header-main__link--active::before {
    content: "";
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fff;
    font-weight: 400;
    position: absolute;
    left: 10px;
    top: 25px;
}

.header-main__btn {
    display: flex;
    align-items: center;
}

.header-main__action {
    padding: 8px 28px;
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
}

.header-main__btn {
    min-width: 108px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
}

/* ============ hero =========== */
.hero {
    background: var(--secondary-color);
}

.hero__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 106px);
}

.hero__content {
    flex: 1;
}

.hero__title {
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.1;
    color: #fff;
    max-width: 517px;
}

.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.6;
    max-width: 468px;
}

.hero__action {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 38px;
}

.hero__btn {
    display: inline-block;
    min-width: 205px;
    padding: 22px 46px;
    text-align: center;
}

.hero__info {
    color: white;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6;
}

.hero__banner {
    display: flex;
    align-items: center;
    flex: 1;
}

.hero__img-detail {
    border-radius: 6px;
}

.hero__img-detail--big {
    width: 60%;
    height: 540px;
    object-fit: cover;
}

.hero__img-detail--small {
    width: 40%;
    height: 410px;
    object-fit: cover;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/* ============ service =========== */

.service {
    padding: 170px 0px;
}

.service__title {
    text-align: center;
}

.service__desc {
    text-align: center;
    max-width: 468px;
    margin-left: auto;
    margin-right: auto;
}

.service__body {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 130px;
}

.service__banner {
    border-radius: 12px;
    width: 570px;
    height: 570px;
    object-fit: cover;
}

.service-detail {
    padding: 21px 18px 20px 22px;
    display: flex;
    gap: 19px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.service-detail:hover {
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}

.service-detail:hover .service__icon {
    background: var(--secondary-color);
    color: #fff;
}

.service__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #eff6fd;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    color: var(--secondary-color);
    flex-shrink: 0;
    transition: 0.3s ease-in-out;
}

.service-detail__title {
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
}

.service-detail__desc {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    margin-top: 8px;
}

.service__btn {
    padding: 22px 49px 22px 48px;
    margin-top: 55px;
    min-width: 205px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
}

/* ============ guide =========== */

.guide {
    padding: 100px 0px;
    background: #f6fbff;
}

.guide__desc {
    max-width: 468px;
}

.guide-body {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.guide-content {
    border: 11px solid #eaf6ff;
    border-radius: 4px;
    padding: 42px;
}

.guide-content:hover {
    border: 11px solid var(--primary-color);
}

.guide-content__title {
    margin-top: 1.8rem;
    color: #10375c;
    font-size: 26px;
    font-weight: 600;
    line-height: 2;
}

.guide-content__desc {
    margin-top: 28px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.guide-content__link {
    margin-top: 18px;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

/* ============ action =========== */

.action {
    padding: 170px 0px 253px;
}

.section-container {
    display: flex;
    justify-content: space-between;
}

.action-banner {
    position: relative;
    flex: 1;
}

.action-img__img {
    border-radius: 6px;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.07);
}

.action-img__img-1 {
    width: 90%;
    height: 370px;
    object-fit: cover;
}

.action-img__img-2 {
    width: 50%;
    height: 370px;
    object-fit: cover;
    position: absolute;
    top: 131px;
    left: 50%;
    z-index: 1;
}

.action-content {
    margin-left: 130px;
    flex: 1px;
}

.action__btn {
    text-align: center;
    margin-top: 38px;
    padding: 22px 52px;
}

/* ============ virtual =========== */

.virtual {
    padding-bottom: 85px;
}

.virtual__btn {
    margin-top: 38px;
}

.virtual__title {
    text-align: center;
}

.virtual__btn {
    display: block;
    text-align: center;
    max-width: 205px;
    margin-left: auto;
    margin-right: auto;
    padding: 22px 27px;
}

.virtual-body {
    margin-top: 85px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(262px, 1fr));
    gap: 34px;
}

.virtual-detail__bg {
    background: #eaf6ff;
    height: 318px;
    position: relative;
    border-radius: 6px;
}

.virtual-detail__img {
    height: 290px;
    width: 100%;
    position: absolute;
    bottom: 0;
    object-fit: contain;
}
.virtual-detail__title {
    margin-top: 12px;
    color: #10375c;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    text-align: center;
}

.virtual-detail__desc {
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.75;
    text-align: center;
}

.virtual-row {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.virtual-row .fa-solid,
.news-row .fa-solid {
    width: 36px;
    height: 36px;
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.virtual-row .fa-solid:hover,
.news-row .fa-solid:hover {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: #fff;
}

/* ============ download =========== */

.download {
    padding: 180px 0px 85px;
}

.download-container {
    background: var(--primary-color);
    padding: 76px 70px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    gap: 160px;
    border-radius: 4px;
    align-items: center;
    position: relative;
}

.download__img {
    position: absolute;
    bottom: 0px;
    left: 5%;
}

.download-content {
    grid-area: 1/2/2/3;
}

.download__title {
    max-width: 95%;
    color: #fff;
}

.download__desc {
    max-width: 90%;
    color: #fff;
}

.download-app {
    margin-top: 38px;
    display: flex;
    gap: 28px;
}

/* ============ news =========== */

.news {
    padding: 85px 0px;
}

.news-container {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    gap: 30px;
    align-items: center;
}

.news__title {
    max-width: 470px;
}

.news__link {
    display: inline-block;
    padding: 28px 0px;
    color: #10375c;
    font-size: 1.8rem;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    text-decoration: underline;
}

.news-row {
    display: flex;
    gap: 15px;
}

.news__img {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.news-detail {
    border-radius: 12px;
    border: 1px #e8ebee solid;
    transition: 0.3s ease-in-out;
}

.news-detail:hover {
    box-shadow: 0px 18px 50px rgba(0, 0, 0, 0.05);
}

.news-detail:hover .news-detail__link {
    color: var(--primary-color);
}

.news-detail__title {
    margin-top: 18px;
    color: #10375c;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.6;
}

.news-detail__desc {
    margin-top: 10px;
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.7;
}

.news-detail__link {
    display: inline-block;
    margin-top: 12px;
    color: var(--secondary-color);
    font-size: 1.4rem;
    font-weight: 400;
    transition: 0.3s ease-in-out;
}

.news-detail__content {
    padding: 0px 22px 21px;
}

/* ============ appointment =========== */

.appointment {
    padding: 85px 0px 170px;
}

.appointment-container {
    background: #f6fbff;
    padding: 100px 0px 115px;
}

.appointment__title {
    text-align: center;
}

.appointment__desc {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 617px;
}

.appointment__btn {
    padding: 22px 41px;
    display: block;
    margin-top: 38px;
    margin-left: auto;
    margin-right: auto;
    max-width: 205px;
}

/* ============ footer =========== */

footer {
    padding: 100px 0px 42px;
    background: var(--secondary-color);
}

.footer-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 78px;
}

.footer__desc {
    color: #a9b3bb;
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 21px;
    line-height: 1.75;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 78px;
    row-gap: 28px;
}

.footer__list {
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
}

.footer-item {
    margin-top: 20px;
}

.footer__item {
    margin-top: 14px;
    color: #a9b3bb;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.footer__icon {
    display: flex;
    gap: 12px;
}

.footer__icon--social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: var(--primary-color);
    width: 32px;
    height: 32px;
    background: #fff;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.footer__icon--social:hover {
    background: var(--primary-color);
    color: #fff;
}
.footer__list--last {
    margin-top: 28px;
}

.footer__email-input {
    padding: 10px;
    height: 46px;
    min-width: 212px;
    background: transparent;
    border: 1px #406181 solid;
    border-radius: 4px;
}

.footer__btn {
    min-width: 108px;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 600;
}

.footer-action {
    margin-top: 10px;
    display: flex;
    gap: 12px;
}

.footer__seperate {
    margin-top: 28px;
    height: 0.1rem;
    background: #406181;
}

.footer__copyright {
    margin-top: 28px;
    color: #aab3ba;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}
